.title1 {
    color: #F8F9FA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.77656rem;
}

.title2 {
    color: #F8F9FA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.64963rem;
}

.paragraph {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14206rem;
}

.headline {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.39588rem;
}

.headlineBold {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14206rem;
}